<div class="container">

  <form [formGroup]="form" class="activity-form">
    <div class="navigation-buttons">
      <button routerLink="/reports" class="nav-button">Relatórios</button>
    </div>
    <div class="form-group board-group">
      <label for="board">Board:</label>
      <div class="board-wrapper">
        <input type="text" id="board" formControlName="board" placeholder="Informe o Board"/>
        <a [routerLink]="['/activity-tracker', 'personal-data']">
          <img src="assets/img/settings.png" alt="Configurações" class="settings-icon" />
        </a>
      </div>
    </div>

    <div class="form-group">
      <label for="userStory">User Story:</label>
      <div class="user-story-wrapper">
        <input type="text" id="userStory" formControlName="userStoryId" (input)="onUserStoryChange()" placeholder="Digite o número da User Story" />
        <img src="assets/img/search.png" alt="Pesquisar" class="search-icon" /> 
        <div class="checkbox-wrapper">
          <input type="checkbox" id="concluded" formControlName="concluded" />
          <label for="concluded">Apenas tasks em aberto</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="task">Task:</label>
      <select id="task" formControlName="task" (change)="onWorkItemSelect()">
        <option *ngFor="let item of workItems" [ngValue]="item">
          {{ item.workItemId }} - {{ item.title }}
        </option>
      </select>
    </div>

    <div class="form-group time-group">
      <div class="time-box">
        <label for="original-estimate">Original Estimate:</label>
        <p class="time-field" id="original-estimate">{{ form.get('originalEstimate')?.value }}</p>
      </div>

      <div class="time-box">
        <label for="remaining-work">Remaining:</label>
        <p class="time-field" id="remaining-work">{{ form.get('remainingWork')?.value }}</p>
      </div>
    </div>

    <div class="form-group time-group">
      <div class="time-box">
        <label for="start-time">Início:</label>
        <input class="time-field" type="text" id="start-time" 
        [value]="form.get('startTime')?.value | date:'HH:mm'" disabled
        />
      </div>
      
      <div class="time-box">
        <label for="currentTrackedTime">Tempo:</label>
        <input type="text" id="currentTrackedTime" [value]="(timerService.currentTrackedTime$ | async)" disabled />
      </div>
    </div>

    <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>

    <div *ngIf="successMessage" class="success-message">{{ successMessage }}</div>

    <app-control-buttons (statusChanged)="handleStatus($event)"></app-control-buttons>  
  </form>
</div>