.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
  
.activity-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
}

.form-group {
  margin-bottom: 15px;
}

.board-group {
  display: flex;
  flex-direction: column;
}

.board-group label {
  margin-bottom: 5px; 
}

.board-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
}

.board-wrapper input {
  flex-grow: 1;
  max-width: calc(100% - 40px);
  margin-right: 8px;
}

.settings-icon {
  margin-left: 8px;
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.settings-icon:hover {
  opacity: 0.8;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input, select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.user-story-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: small;
}

.checkbox-wrapper input[type="checkbox"] {
  width: auto;
  margin-right: 5px;
}

.time-group {
  display: flex;
  justify-content: space-between;
}

.time-box {
  width: 48%;
}

.time-field {
  padding: 8px;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  font-size: 15px;
  border-radius: 4px;
  margin: 0;
  min-height: 18px;
}

app-control-buttons {
  margin-top: 20px;
  display: block;
}

.user-story-wrapper {
  position: relative;
}

.search-icon {
  position: relative;
  right: 5%;
  top: 10%;

  width: 20px;
  height: 20px;
  cursor: pointer;
}